.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

.navbar-brand h1{
	margin-left: 50px;
	color: black;
	margin-top: auto;
	margin-bottom: auto;
}

.navbar-brand a:hover {
	text-decoration: none;
}

.heading{
	margin-bottom: 30px;
	font-size: 1.6em;
}

.container div div{
	background-color: #c2c1be;
	padding: 20px;
	margin-bottom: 20px;
}

.description .food-item{
	font-weight: bold;
	font-size: 1.2em;
}

.description .about{
	font-size: 0.8em;
	font-weight: bold;
}

.container .row{
	width: 100%;
}

body{
	color:black;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
}

nav{
	background-color: #c2c1be;
	margin-bottom: 20px;
}

ul li.nav-item{
	border: 2px solid black;
}

ul li.nav-item a.nav-link{
	color:black;
	background-color:#696354;
}
